/*banner bottom styles*/

#banner-bottom {
	position: relative;
	/*border-bottom: 100px solid #ea5d4b;*/
}

#banner-bottom img {
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: 100px solid #ea5d4b;
}

.banner-bottom-text {
	position: absolute;
	top: 10px;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	z-index: 5;
}

#banner-bottom h4 {
	font-size: 2em;
	padding-top: 200px;
	margin-bottom: 30px;
}

/*#shapes {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}

#black-shape {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 90px;
  width: 100%;
}*/

/*#black-shape:before {
  content: '';
  position: absolute;
  top: -139px;
  left: 0;
  height: 70px;
  width: 35%;
  background: #0d1119;
  transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
}
#black-shape:after {
  content: '';
  position: absolute;
  top: -139px;
  right: 0;
  height: 60px;
  width: 65%;
  background: #0d1119;
  transform: skew(0deg, -3deg);
  -webkit-transform: skew(0deg, -3deg);

}​*/

/*#black-shape2 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100px;
}

#black-shape2:before {
	content: "";
	position: absolute;
	bottom: 110px;
	left: 0;
	width: 100%;
	height: 110px;
	background: #0d1119;
	z-index: 3;
	-webkit-transform: skew(0deg, 1.5deg);
	-moz-transform: skew(0deg, 1.5deg);
	-ms-transform: skew(0deg, 1.5deg);
	-o-transform: skew(0deg, 1.5deg);
	transform: skew(0deg, 1.5deg);
}*/