* {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	font-family: 'Lato', 'Helvetica', sans-serif;
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, a {
	letter-spacing: 1px;
}

p {
	line-height: 1.5em;
}

header {
	background-image: url(../img/banner-top.jpg);
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 891px;
}

#logo {
	position: relative;
	top: 30px;
	left: 40px;
	width: 200px;
	height: 50px;
}

#logo img {
	position: absolute;
}

#logo p {
	position: absolute;
	top: 5px;
	left: 40px;
	font-size: 1.5em;
}

#logo span {
	display: block;
	border-bottom: 3px solid #a2ca28;
	width: 40px;
	position: absolute;
	top: 35px;
	left: 40px;
}

nav ul {
	float: right;
	margin-right: 30px;
}

nav li {
	float: left;
	list-style: none;
}

nav a {
	margin-left: 60px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: .8em;
	font-weight: 700;
}

nav a:hover {
	color: #a2ca28;
}

#main-title {
	position: absolute;
	left: 100px;
	bottom: 30px;
}

#main-title p {
	float: right;
	margin-right: 50px;
}

#main-title .slash1 {
	color: #a2ca28;
}

#main-title .slash2 {
	color: #ea5d4b;
}

#red-shape {
	position: relative;
	text-align: center;
	width: 100%;
	height: 100px;
	opacity: .5;
}

#red-shape:before {
	content: "";
	position: absolute;
	top: -200px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fd634e;
	-webkit-transform: skew(0deg, -3deg);
	-moz-transform: skew(0deg, -3deg);
	-ms-transform: skew(0deg, -3deg);
	-o-transform: skew(0deg, -3deg);
	transform: skew(0deg, -3deg);
}

#features-section {
	position: relative;
	background-color: #a2ca28;
	width: 100%;
	height: auto;
	margin-top: -250px;
	z-index: 1;
}

#features {
	width: 1180px;
	height: auto;
	margin: 0 auto;
	padding-top: 100px;
}

#features article {
	float: left;
	width: 25%;
	height: auto;
	margin: 30px 0;
	padding: 10px;
}

#features h2 {
	margin-top: 20px;
}

#features p {
	margin-top: 20px;
}

#features-buttons {
	width: 1180px;
	height: auto;
	margin: 0 auto;
}

#features-buttons li {
	float: left;
	width: 25%;
	list-style: none;
}

#features-buttons a {
	height: auto;
	padding: 10px;
	color: #ffffff;
	text-decoration: none;
}

#left-right {
	display: block;
	width: 1180px !important;
	height: auto;
	margin: 0 auto;
	padding-top: 200px;
	clear: both;
	text-align: center;
}

#left-right h3 {
	color: #a2ca28;
	font-weight: 300;
	font-size: 2em;
	margin-top: 10px;
}

#left-right h5 {
	color: #ea5d4b;
	font-weight: bolder;
	margin-top: 30px;
}

#left-right p {
	color: #777777;
	margin-top: 50px;
	margin-bottom: 20px;
}

#left-right a {
	color: #a2ca28;
	text-decoration: none;
}

.fitness-first {
	background-color: #ffffff;
	width: 400px;
	height: 394px;
	float: left;
	padding: 20px;
}

.your-body {
	background-color: #ffffff;
	width: 401px;
	height: 394px;
	float: right;
	padding: 20px;
}

.your-body, .your-body-img {
	margin-top: -3px;
	margin-bottom: -3px;
}

#bg-random-grid {
	background-color: #fd634e;
	width: 100%;
	height: 1321px;
}

.random-grid {
	display: block;
	width: 1180px;
	margin: 0 auto;
}

.random-grid img {
	float: left;
}

.random-grid-text1 {
	clear: both;
}

.inner-text {
	position: relative;
}

.inner-text article {
	position: absolute;
	right: 30px;
	bottom: 40px;
}

.inner-text .products {
	position: absolute;
	right: 950px;
	bottom: 30px;
}

.inner-text article p {
	display: inline-block;
	color: #ffffff !important;
	font-size: .8em;
	font-weight: 700;
}

.inner-text span {
	color: #ed5d49;
}

.inner-text article img {
	width: 20px;
	margin-left: 10px;
	-webkit-transform:translateY(20%);
}

.inner-text .august-health {
	position: absolute;
	width: 700px;
	bottom: 260px;
	font-size: 1.2em;
}

.august-health .left {
	float: left;
}

.august-health .right {
	float: right;
}

.august-health i {
	margin-left: 10px;
	font-size: 1.4em;
}

.truck-lifestyle {
	display: block;
	background-color: #ffffff;
	width: 401px;
	height: 330px;
	float: left;
	padding: 20px 40px;
}

.truck-lifestyle h3,
.get-involved h3 {
	color: #a2ca28;
	font-weight: 300;
	font-size: 2em;
	margin-top: 10px;
}

.truck-lifestyle h5,
.get-involved h5 {
	color: #ea5d4b;
	font-weight: bolder;
	margin-top: 30px;
}

.truck-lifestyle p,
.get-involved p {
	color: #777777;
	margin-top: 50px;
	margin-bottom: 20px;
}

.summer-fun {
	display: block;
	background-color: #a2ca28;
	width: 779px;
	height: 331px;
	float: right;
	margin-top: -1px;
	padding: 50px;
	z-index: -1;
	-webkit-box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
}

.summer-fun h3,
.improve-your h3 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 30px;
}

.random-grid-text2 {
	clear: both;
}

.get-involved {
	display: block;
	background-color: #ffffff;
	width: 779px;
	height: 330px;
	float: left;
	padding: 20px 40px;
}

.improve-your {
	display: block;
	background-color: #a2ca28;
	width: 401px;
	height: 331px;
	float: right;
	margin-top: -1px;
	padding: 50px;
	z-index: -1;
}

.improve-your h5 {
	font-size: 1.2em;
}

#banner-bottom {
	clear: both;
	border-bottom: 30px solid #ea5d4b;
}

#banner-bottom {
	background-image: url(../img/man-alone.jpg);
	background-size: 1400px;
	background-position: top center;
	background-repeat: no-repeat;
	height: 724px;
	text-align: center;
}

#banner-bottom h4 {
	font-size: 2em;
	padding-top: 200px;
	margin-bottom: 30px;
}

#shapes {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
}

#black-shape {
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 90px;
  width: 100%;
}

#black-shape:before {
  content: '';
  position: absolute;
  top: -139px;
  left: 0;
  height: 70px;
  width: 35%;
  background: #0d1119;
  transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
}
#black-shape:after {
  content: '';
  position: absolute;
  top: -139px;
  right: 0;
  height: 60px;
  width: 65%;
  background: #0d1119;
  transform: skew(0deg, -3deg);
  -webkit-transform: skew(0deg, -3deg);

}​

#black-shape2 {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100px;
}

#black-shape2:before {
	content: "";
	position: absolute;
	bottom: 110px;
	left: 0;
	width: 100%;
	height: 110px;
	background: #0d1119;
	z-index: 3;
	-webkit-transform: skew(0deg, 1.5deg);
	-moz-transform: skew(0deg, 1.5deg);
	-ms-transform: skew(0deg, 1.5deg);
	-o-transform: skew(0deg, 1.5deg);
	transform: skew(0deg, 1.5deg);
}

footer {
	width: 100%;
	height: 803px;
	background-color: #0d1119;
	margin: -100px auto 0 auto;
}

#footer-about {
	width: 1180px;
	height: 200px;
	margin: 0 auto;
	padding-top: 50px;
}

#footer-about article {
	width: 40%;
	height: auto;
	float: left;
	padding: 30px 0 30px 10px;
}

#footer-about .stay-in-touch {
	width: 20%;
}

#footer-about h5 {
	font-size: 1.1em;
	margin-bottom: 20px;
}

#footer-about p {
	font-size: .8em;
}

.stay-in-touch ul {
	padding-top: 15px;
}

.stay-in-touch li {
	list-style: none;
	float: left;
}

.stay-in-touch a {
	text-decoration: none;
	color: #ffffff;
	width: 30px;
	height: 30px;
	background-color: #ff0000;
	padding: 12px;
	border-radius: 100%;
	margin-right: 10px;
}

a.facebook {
	background-color: #2e3192;
}

a.twitter {
	background-color: #00aeef;
}

a.youtube {
	background-color: #ed3123;
}

a.linkedin {
	background-color: #171a8f;
}

.stay-in-touch i {
	font-size: .5em;
}

#newsletter {
	clear: both;
	width: 1180px;
	height: auto;
	margin: 0 auto;
}

#newsletter form {
	float: right;
	margin-top: 30px;
	color: #777777;
}

form input {
	margin-right: 5px;
	border-radius: 4px;
	border: none;
}

form input.name {
	width: 190px;
	height: 50px;
	padding-left: 30px;
}

form input.email {
	width: 300px;
	height: 50px;
	padding-left: 30px;
}

form button {
	position: relative;
	width: 190px;
	height: 50px;
	background-color: #a2ca28;
	border-radius: 4px;
	border: none;
	font-weight: 700;
	color: #ffffff;
}

form button img {
	position: absolute;
	top: 15px;
	right: 25px;
	width: 15px;
	margin: 2px 0 0 5px;
}

#license {
	position: relative;
	clear: both;
}

#license p {
	position: absolute;
	top: 475px;
	left: 10px;
	font-size: .8em;
}

#license a {
	color: #a2ca28;
}