/*media queries*/

@media all and (max-width: 1024px) {

header i {
	position: absolute;
	top: 40px;
	right: 30px;
	font-size: 1.5em !important;
}

#nav {
	display: none;
}

#main-title h1 {
	font-size: 1.5em;
}

.side-menu {
	display: block;
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: #0D1119;
	z-index: 9;
	margin: 0 auto;
	transition: .3s;
}

.side-menu ul {
	display: block;
	padding-top: 10px;
}

.side-menu li {
	clear: both;
	padding: 10px 0;
}

.side-menu a {
	margin-left: 0 !important;
}

.active {
	right: 0;
}

.side-menu i {
	position: absolute;
	top: 30px;
	right: 270px;
	font-size: 2em !important;
	z-index: 6;
	color: #EA5D4B;
	transition: .3s;
}

.features {
	display: flex;
	flex-direction: column;
}

.features article {
	width: 100%;
	text-align: center;
}

.button-features span {
	margin: 0 auto;
}

.row-column {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.fitness-first {
	background-color: #ffffff;
	padding: 20px;
	max-width: 100%;
}

.fitness-first-img {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.fitness-first-img img:first-child {
	min-width: 100%;
}

.your-body-img {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-top: -1px;
}

.your-body-img img:first-child {
	min-width: 100%;
}

.truck-lifestyle {
	background-color: #ffffff;
	min-width: 100%;
	text-align: center;
}

.truck-lifestyle article:first-child {
	min-width: 100%;
}

.truck-lifestyle article:last-child {
	background-color: #a2ca28;
	min-width: 100%;
	box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
}

.get-involved {
	text-align: center;
}

.get-involved article:first-child {
	background-color: #ffffff;
	min-width: 100%;
}

.improve-your {
	background-color: #a2ca28;
	min-width: 100%;
	padding: 50px;
}

.banner-bottom-text {
	position: absolute;
	top: 0;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	z-index: 5;
}

#banner-bottom h6 {
	font-size: 1em !important;
	padding-top: 20px;
	margin-bottom: 30px;
}


footer {
    position: relative;
    width: 100%;
    margin: -60px auto 0 auto;
    padding-bottom: 530px;
    text-align: center;
}

#footer-about {
	width: 80%;
	min-height: 200px;
	margin: 0 auto;
	padding-top: 50px;
}

#footer-about article {
	width: 100%;
	float: left;
	padding: 30px 0 30px 10px;
}

#footer-about .stay-in-touch {
	width: 100%;
}

.stay-in-touch ul {
	display: block;
	width: 30%;
	margin: 0 auto;
}

#newsletter {
	width: 100%;
	margin: 0 auto;
}

#newsletter form {
	margin: 30px auto 0 auto;
	color: #777777;
}

#newsletter input, button {
	margin: 10px;
}
}
