*, *:after, *:before {
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	font-family: 'Lato', 'Helvetica', sans-serif;
	color: #ffffff;
}

h1, h2, h3, h4, h5, h6, p, a {
	letter-spacing: 1px;
}

p {
	line-height: 1.5em;
}

/*header styles*/

header {
	background-image: url(../img/banner-top.jpg);
	background-position: top;
	background-size: 1440px;
	background-repeat: no-repeat;
	min-height: 891px;

}

#banner-top:after {
	content: "";
	opacity: .5;
	position: absolute;
	bottom: -200px;
	left: 0;
	width: 100%;
	height: 100px;
	background: #fd634e;
	-webkit-transform: skew(0deg, -3deg);
	-moz-transform: skew(0deg, -3deg);
	-ms-transform: skew(0deg, -3deg);
	-o-transform: skew(0deg, -3deg);
	transform: skew(0deg, -3deg);
}

#logo {
	position: relative;
	top: 30px;
	left: 40px;
	width: 12.5em;
	height: 3.125em;
}

#logo img {
	position: absolute;
}

#logo p {
	position: absolute;
	top: 5px;
	left: 40px;
	font-size: 1.5em;
}

#logo span {
	display: block;
	border-bottom: 3px solid #a2ca28;
	width: 2.5em;
	position: absolute;
	top: 35px;
	left: 40px;
}

/*navigation*/

nav ul {
	float: right;
	margin-right: 30px;
}

nav li {
	float: left;
	list-style: none;
}

nav a {
	margin-left: 60px;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	font-size: .8em;
	font-weight: 700;
}

nav a:hover {
	color: #a2ca28;
}

/*end - navigation*/

#main-title {
	position: absolute;
	left: 80px;
	bottom: 0;
}

#main-title p {
	float: right;
	margin-right: 50px;
}

#main-title .slash1 {
	color: #a2ca28;
}

#main-title .slash2 {
	color: #ea5d4b;
}


/*feature styles*/

#features-section {
	position: relative;
	background-color: #a2ca28;
	width: 100%;
	height: auto;
	margin-top: -90px;
	z-index: 1;
}

.features {
	display: flex;
	width: 80%;
	height: auto;
	margin: 0 auto !important;
	padding-top: 100px;
}

.features article {
	width: 25%;
	height: auto;
	margin: 30px 0;
	padding: 10px;
}

.features h2 {
	margin-top: 20px;
}

.resources p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.training-funding p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.connect p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.communicate p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.button-features a {
	color: #ffffff;
	text-decoration: none;
}

.button-features span {
	display: block;
	width: 50px;
	height: 50px;
}

#left-right {
	position: relative;
	max-width: 80%;
	height: auto;
	margin: 0 auto;
	padding-top: 200px;
	text-align: center;
}

#left-right h3 {
	color: #a2ca28;
	font-weight: 300;
	font-size: 2em;
	margin-top: 10px;
}

#left-right h5 {
	color: #ea5d4b;
	font-weight: bolder;
	margin-top: 30px;
}

#left-right p {
	color: #777777;
	margin-top: 50px;
	margin-bottom: 20px;
}

#left-right a {
	color: #a2ca28;
	text-decoration: none;
}

.row {
	display: -webkit-flex;
    display: flex;
    width: 100%;
}

.fitness-first {
	background-color: #ffffff;
	padding: 10px;
	max-width: 400px;
	height: auto;
}

.fitness-first-img {
	position: relative;
	width: calc(100%-400px);
	max-height: 394px;
	overflow: hidden;
}

.fitness-first-img img:first-child {
	max-width: 780px;
	height: 394px;
}

.fitness-first-img img:last-child {
	position: absolute;
	bottom: 59px;
    right: 45px;
	width: 20px;
}

.fitness-first-img p {
	position: absolute;
	bottom: 43px;
    right: 76px;
    font-size: .9em;
	color: #ffffff !important;
	letter-spacing: 0;
}

.fitness-first-img span {
	color: #f7614c;
}

.your-body {
	background-color: #ffffff;
	max-width: 401px;
	height: auto;
	padding: 10px;
}

.your-body-img {
	position: relative;
	width: calc(100%-401px);
	height: 394px;
	overflow: hidden;
	
}

.your-body-img img:first-child {
	max-width: 780px;
	height: auto;
}

.your-body-img img:last-child {
	position: absolute;
    bottom: 44px;
    left: 180px;
	width: 20px;
}

.your-body-img p {
	position: absolute;
	bottom: 27px;
    left: 41px;
	color: #ffffff !important;
	font-size: .9em;
	letter-spacing: 0;
}

/*random grid styles*/

#bg-random-grid {
	background-color: #fd634e;
	width: 100%;
	height: auto;
}

.random-grid {
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.runners {
	width: calc(100%-779px);
	height: auto;
}

.runners img {
    width: 100%;
    height: auto;
}

.man-beach {
	width: calc(100%-401px);
	height: auto;
}

.man-beach {
	position: relative;
}

.man-beach img {
    width: 100%;
    height: auto;
}

.man-beach p {
	font-weight: 700;
}


.left {
	position: absolute;
	top: 50px;
	left: 50px;
}

.right {
	position: absolute;
	top: 50px;
	right: 50px;
}

.right i {
	margin-left: 10px;
}

.truck-lifestyle {
	background-color: #ffffff;
	max-width: 33.9%;
	height: auto;
	padding: 20px 40px;
	margin-top: -3px;
}

.truck-lifestyle h3,
.get-involved h3 {
	color: #a2ca28;
	font-weight: 300;
	font-size: 2em;
	margin-top: 10px;
}

.truck-lifestyle h5,
.get-involved h5 {
	color: #ea5d4b;
	font-weight: bolder;
	margin-top: 30px;
}

.truck-lifestyle p,
.get-involved p {
	color: #777777;
	margin-top: 50px;
	margin-bottom: 20px;
}

.summer-fun {
	background-color: #a2ca28;
	max-width: 66.1%;
	height: auto;
	padding: 50px;
	margin-top: -3px;
	-webkit-box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 66px -9px rgba(0,0,0,0.75);
}

.summer-fun h3,
.improve-your h3 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 30px;
}

.grape {
	width: calc(100%-401px);
    height: auto;
}

.grape img {
	width: 100%;
	height: auto;
}

.mango {
	width: calc(100%-779px);
    height: auto;
}

.mango img {
	width: 100%;
	height: auto;
}

.get-involved {
	background-color: #ffffff;
	max-width: 66.1%;
	height: auto;
	padding: 20px 40px;
	margin-top: -4px;
}

.improve-your {
	background-color: #a2ca28;
	max-width: 33.9%;
	height: auto;
	padding: 50px;
	margin-top: -4px;
}

.improve-your h5 {
	font-size: 1.2em;
}

/*banner bottom styles*/

#banner-bottom {
	position: relative;
}

#banner-bottom img {
	width: 100%;
	height: auto;
	text-align: center;
	border-bottom: 100px solid #ea5d4b;
}

.banner-bottom-text {
	position: absolute;
	top: 10px;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	z-index: 5;
}

#banner-bottom h4 {
	font-size: 2em;
	padding-top: 200px;
	margin-bottom: 30px;
}

/*footer styles*/

footer {
	position: relative;
	width: 100%;
	height: auto;
	background-color: #0d1119;
	margin: -60px auto 0 auto;
	padding-bottom: 530px;
}

#footer-top:before {
	content: "";
	position: absolute;
	top: -90px;
	right: 0;
	width: 50%;
	height: 60px;
	background: #0d1119;
	-webkit-transform: skew(0deg, -3deg);
	-moz-transform: skew(0deg, -3deg);
	-ms-transform: skew(0deg, -3deg);
	-o-transform: skew(0deg, -3deg);
	transform: skew(0deg, -3deg);
}

#footer-top:after {
	content: "";
	position: absolute;
	top: -90px;
	left: 0;
	width: 100%;
	height: 80px;
	background: #0d1119;
	-webkit-transform: skew(0deg, 2deg);
	-moz-transform: skew(0deg, 2deg);
	-ms-transform: skew(0deg, 2deg);
	-o-transform: skew(0deg, 2deg);
	transform: skew(0deg, 2deg);
}

#footer-about {
	width: 100%;
	min-height: 200px;
	margin: 0 auto;
	padding-top: 50px;
}

#footer-about article {
	width: 35%;
	height: auto;
	float: left;
	padding: 30px 0 30px 10px;
}

#footer-about .stay-in-touch {
	width: 30%;
}

#footer-about h5 {
	font-size: 1.1em;
	margin-bottom: 20px;
}

#footer-about p {
	font-size: .8em;
}

.stay-in-touch li {
	list-style: none;
	float: left;
	margin: 10px;
	width: 40px;
	height: 40px;
}

.stay-in-touch a {
	text-decoration: none;
	color: #ffffff;
	width: 30px;
	height: 30px;
	background-color: #ff0000;
	padding: 12px;
	border-radius: 100%;
}

a.facebook {
	background-color: #2e3192;
}

a.twitter {
	background-color: #00aeef;
}

a.youtube {
	background-color: #ed3123;
}

a.linkedin {
	background-color: #171a8f;
}

.stay-in-touch i {
	font-size: .5em;
}

#newsletter {
	clear: both;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#newsletter form {
	float: right;
	margin-top: 30px;
	margin-right: 50px;
	color: #777777;
}

form input {
	margin-right: 5px;
	border-radius: 4px;
	border: none;
}

form input.name {
	width: 190px;
	height: 50px;
	padding-left: 30px;
}

form input.email {
	width: 300px;
	height: 50px;
	padding-left: 30px;
}

form button {
	position: relative;
	width: 190px;
	height: 50px;
	background-color: #a2ca28;
	border-radius: 4px;
	border: none;
	font-weight: 700;
	color: #ffffff;
}

form button img {
	position: absolute;
	top: 15px;
	right: 25px;
	width: 15px;
	margin: 2px 0 0 5px;
}

#license {
	position: relative;
	clear: both;
}

#license p {
	position: absolute;
	top: 475px;
	left: 10px;
	font-size: .8em;
}

#license a {
	color: #a2ca28;
}


